<unity>
  <!--<typeAliases>
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    --><!--<typeAlias alias="perRequest" type="WebUI.UnityExtensions.UnityHttpContextPerRequestLifetimeManager, WebUI" />--><!--
  </typeAliases>-->
  <containers>
    <container name="container">
      <types>
        <type type="WebsiteCreatorTool.Data.IUnitOfWork, WebsiteCreatorTool.Data" mapTo="WebsiteCreatorTool.Data.Sql.WebsiteCreatorToolDbContext, WebsiteCreatorTool.Data.Sql">
          <!--<lifetime type="perRequest" />-->
        </type>
        <type type="WebsiteCreatorTool.Domain.Contracts.ISampleService, WebsiteCreatorTool.Domain" mapTo="WebsiteCreatorTool.Domain.Handlers.SampleService, WebsiteCreatorTool.Domain">
          <!--<lifetime type="perRequest" />-->
        </type>
        <type type="WebsiteCreatorTool.Data.ISampleRepository, WebsiteCreatorTool.Data" mapTo="WebsiteCreatorTool.Data.Sql.Repositories.SampleRepository, WebsiteCreatorTool.Data.Sql">
          <!--<lifetime type="perRequest" />-->
        </type>
      </types>
    </container>
  </containers>
</unity>